.shopping-cart{
    margin-right: 25%;
}
.cart-item:hover{
    background-color: transparent;
}
.card-rows{
    justify-content: space-evenly;
    margin-top: 1rem;
}
.card-img-top{
    height: 200px;
    width: 220px;
    margin: 0 auto;
}
.amount{
    color: #d3d3d3;
    line-height: .5rem;
    padding-left: 1.5rem;
}
.items-in-cart{
    height: 25px;
    width: 25px;
    background-color: rgba(255, 0, 0, 1);
    border-radius: 50%;
    margin: 1rem 0 0 -0.5rem;
    color: #ffffff;
    text-align: center;
    font-weight: bold;
}
label.auto-populate{
    margin: 1rem 25% 0 25%;
}
input.auto-populate{
    margin-left: 50%;
}