<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Indigo Distribution</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="css/all.min.css">
    <link rel="stylesheet" href="css/fontawesome.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="icon" href="img/icon.svg">
</head>
<body>
    
    <!-- CONTAINER START -->
    <div class="container count">

      <!-- NAVBAR -->  
      <nav class="navbar navbar-expand sticky-top navbar-light bg-light">
        <a class="navbar-brand" href="#"><img src="img/icon.svg" alt="Indigo Distributions"></a>
        <div class="collapse navbar-collapse">
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="#">Home</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="#">Store<span class="sr-only">(current)</span></a>
            </li>
          </ul>
        </div>
        <div class="shopping-cart">
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item dropdown">
                <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-shopping-cart"></i>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <div id="wmt" v-if="wmtCount>0">
                    <div class="dropdown-item cart-item">RAK-WMT-400</div>
                    <div class="amount">Amount - {{ wmtCount }}</div>
                  </div>
                  <div id="rak8" v-if="rak8Count>0">
                    <div class="dropdown-item cart-item">RAK-RAK8-MB</div>
                    <div class="amount">Amount - {{ rak8Count }}</div>
                  </div>
                  <div id="link" v-if="linkCount>0">
                    <div class="dropdown-item cart-item">RAK-RAK-LINK</div>
                    <div class="amount">Amount - {{ linkCount }}</div>
                  </div>
                  <div id="hub" v-if="hubCount>0">
                    <div class="dropdown-item cart-item">WK-HUB</div>
                    <div class="amount">Amount - {{ hubCount }}</div>
                  </div>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Checkout</a>
                </div>
            </li>

            <div class="items-in-cart">{{ totalCount }}</div>

          </ul>
        </div>
      </nav>
      <!-- END NAVBAR -->

      <label for="checkbox" class="auto-populate">Would you like to autopopulate your cart with relevant items?</label><br>
      <input type="checkbox" v-model="autoPopulate" value="true" class="auto-populate">


      <!-- STORE ITEMS -->
      <div class="row card-rows">
        <div class="card" style="width: 18rem;">
        <img src="img/wmt400.jpg" class="card-img-top" alt="RAK-WMT-400">
        <div class="card-body">
          <h5 class="card-title">RAK-WMT-400</h5>
          <p class="card-text">A 400W trailing edge pluggable module for use with RAK8-MB that is suitable for dimming LED lamps, tungsten, low-voltage halogens and any other trailing edge dimmable loads.</p>
          <button class="btn btn-primary" v-on:click="wmtAdd"><i class="fas fa-shopping-cart"></i> Add to basket</button>
        </div>

        </div>
        <div class="card" style="width: 18rem;">
        <img src="img/rak8.jpg" class="card-img-top" alt="RAK-RAK8-MB">
        <div class="card-body">
          <h5 class="card-title">RAK-RAK8-MB</h5>
          <p class="card-text">An eight slot motherboard which forms the base of a RAK8 dimmer array. Designed to be wall mounted in an electrical cupboard as a single 8 channel unit or joined together to form multi-way stacks.</p>
          <button class="btn btn-primary" v-on:click="rak8Add"><i class="fas fa-shopping-cart"></i> Add to basket</button>
        </div>
        </div>
      </div>


      <div class="row card-rows">
        <div class="card" style="width: 18rem;">
        <img src="img/rak-link.jpg" class="card-img-top" alt="RAK-RAK-LINK">
        <div class="card-body">
          <h5 class="card-title">RAK-RAK-LINK</h5>
          <p class="card-text">The Rak-Link forms the connection between RAK4 dimmers and the wired Rakom CAT5 network.</p>
          <button class="btn btn-primary" v-on:click="linkAdd"><i class="fas fa-shopping-cart"></i> Add to basket</button>
        </div>

        </div>
        <div class="card" style="width: 18rem;">
        <img src="img/wk-hub.jpeg" class="card-img-top" alt="WK-HUB">
        <div class="card-body">
          <h5 class="card-title">WK-HUB</h5>
          <p class="card-text">Network interface for Rako wired systems with built in cloud services interface, time and advanced programming features.</p>
          <button class="btn btn-primary" v-on:click="hubAdd"><i class="fas fa-shopping-cart"></i> Add to basket</button>
        </div>
        </div>
      </div>
      <!-- END STORE ITEMS -->
  

    </div>
    <!-- CONTAINER END -->

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
    <script src="js/script.js"></script>

  </body>
</html>